.main-text-block {
  background-color: #ECECEC;
  border-radius: 18px;
  width: 250px;
  height: 240px;
  padding: 5px 25px;
}

.main-text-block h2 {
  font-size: 28px;
  margin-top: 15px;
}

.main-text-block p {
  font-size: 18px;
}

.picture-block {
  display: flex;
  justify-content: end;
  width: 450px;
  height: 240px;
}

.picture-block img:nth-child(2n) {
  align-self: flex-end;
}

.first-row-container {
  display: flex;
  justify-content: space-between;
}